html {
    background-image: url("../images/90s\ squiggles.gif");
}
.newBackground {
    position:absolute;
    z-index:-1;
    width:1000px;
    height:1000px;

}
header {
    font-size: 60px;
    font-family: 'VT323', monospace;
}

.btn-primary {
    background-image: url("../images/pizza.gif");
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc,1px 1px 20px rgb(123, 248, 6),2px 2px 30px rgb(133, 255, 11);
    
    width: 218px;
    height: 120px;
    font-size: 40px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 162px;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

body {
    text-align: center;
    height: 600px;
    margin-left: 250px;
    margin-right: 250px;
}

.container {
   
    font-size: 30px;
    height: 630px;
    margin-top: 30px;
    background-image: url("../images/arcade.gif");
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc,1px 1px 20px rgb(123, 248, 6),2px 2px 30px rgb(112, 223, 1),3px 3px 40px rgb(133, 255, 11);
}
#choicesDiv {
    line-height: 2;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    background-image: url("../images/stars.png");
}
