html {
    background-image: url("../images/90s\ squiggles.gif");
}
.newBackground {
    position:absolute;
    z-index:-1;
    width:1000px;
    height:1000px;

}
header {
    font-size: 60px;
    font-family: 'VT323', monospace;
}

#startBtn {
    background-image: url("../images/pizza.gif");
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc,1px 1px 20px rgb(123, 248, 6),2px 2px 30px rgb(133, 255, 11);
    
    width: 218px;
    height: 120px;
    font-size: 40px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 242px;
}
#resetBtn {
    background-image: url("../images/pizza.gif");
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc, 1px 1px 20px rgb(123, 248, 6), 2px 2px 30px rgb(133, 255, 11);
    font-size: 40px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

body {
    text-align: center;
    height: 600px;
    margin-left: 250px;
    margin-right: 250px;
}

.container {
   
    font-size: 30px;
    height: 670px;
    margin-top: 30px;
    background-image: url("../images/arcade.gif");
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc,1px 1px 20px rgb(123, 248, 6),2px 2px 30px rgb(112, 223, 1),3px 3px 40px rgb(133, 255, 11);
}
#choicesDiv {
    line-height: 2.5;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    background-image: url("../images/geometric.gif");
}
/***** Pulse *****/

.bubbles, .answerChoices:hover{ 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
    }

    h4, img:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
        animation: shake 0.5s; 
      
        /* When the animation is finished, start again */
        animation-iteration-count: infinite; 
      }
      
      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
